@import "utils/vars";
@import "utils/reset";

html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	font-size: $mainFontSize;
	color: $mainFontColor;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
h4 {
	font-size: 15px;
}
h3 {
	font-size: 24px;
}
a {
	text-decoration: none;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
section,
.section {
	position: relative;
	padding: 0;
	margin-bottom: 80px;
	@media screen and (max-width: $tableWidth) {
		border-bottom: 1px solid $line-color;
	}
	@media screen and (max-width: $phoneWidth) {
		margin-bottom: 40px;
	}
}
.page {
	max-width: 1312px;
	margin: 0 auto;
}
.container {
	max-width: 990px;
	padding: 0 20px;
	margin: 0 auto;
}
.header {
	padding: 22px 0;
	border-bottom: 1px solid $line-color;
	display: flex;
	justify-content: space-between;
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 2;
		&_w {
			width: 25%;
			@media screen and (max-width: $desktopWidth) {
				width: 40%;
			}
		}
	}
	&__title {
			font-size: 24px;
			font-weight: 600;
			line-height: 1.33;
			letter-spacing: 0.38px;
			color: $text-color;
			white-space: nowrap;
			text-overflow: ellipsis!important;
			overflow: hidden;
			@media screen and (max-width: $smTableWidth) {
				font-size: 18px;
			}
	}
	&__back {
		color: $sub-color;
		@media screen and (max-width: $smTableWidth) {
			display: none;
		}
	}
	&__search {
		
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.25px;
		position: relative;
	}
	&__input {
		border: none;
		width: 105px;
		outline: none;
		@media screen and (max-width: $tableWidth) {
			width: 42px;
		}
		&::placeholder {
			color: $sub-color;
			padding-left: 35px;
			background: url(/assets/img/search.svg) 1% no-repeat;
		}
	}
	&-menu {
		max-width: 200px;
		&__category {
			display: flex;
			@media screen and (max-width: $tableWidth) {
			display: none;
			width: 30%;
			height: 108px;
			background-color: #fff;
			justify-content: center;
			align-items: center;
			position: absolute;
			z-index: 1;
			top: 100px;
			right: 20px;
			border: 1px solid #ccc;
			text-align: center;
			padding: 0;
			}
			
		}
		&__list {
			padding: 0 8px;
		}
		&__link {
			cursor: pointer;
		}
		&__size {
			width: 70px;
			color: $sub-color;
			@media screen and (max-width: $tableWidth) {
				margin: 0 auto;
			}
		 }
		 &__img {
			padding-left: 32px;
			cursor: pointer;
			@media screen and (max-width: $desktopWidth) {
				padding-left: 10px;
			}
			@media screen and (max-width: $tableWidth) {
				padding-left: 0px;
			}
		 }
	}
}
.mobile_menu{
	display: none;
	@media screen and (max-width: $tableWidth){
		display: block;
	}
}
.sugg {
	letter-spacing: 0.4px;
	line-height: 1.6;
	color: $mainFontColor;
	font-family: $mainFont;
	@media screen and (max-width: $smDesktopWidth) {
		line-height: 2.8;
	}
	&__title {
		h1 {
		color: $text-color;
		max-width: 590px;
		font-size: 42px;
		font-weight: 600;
		letter-spacing: 0.66px;	
		padding: 80px 0 40px;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		@media screen and (max-width: $smDesktopWidth) {
			font-size: 32px;
			padding: 40px 0 40px;
		}
		}
		span {
			color: $active-color;
		}
	}
	&__subtitle {
		margin-bottom: 7px;
	}
	&__content {
		display: flex;
		justify-content: flex-start;
		@media screen and (max-width: $smDesktopWidth) {
			flex-wrap: wrap;
		}
	}
	&__btn {
		margin-right: 16px;
		padding: 9px 35px 7px 24px;
		border-radius: 4px;
		background-color: $phon-light-color;
		color: $mainFontColor;
		@media screen and (max-width: $smPhoneWidth) {
			margin-right: 0;
		}
		  &_active {
			background-color: $active-color;
			color: $text-color;
		  }
		  &_img {
			padding: 6px 35px 6px 24px;
		  }
		  &:hover {
			// border: 2px solid  $active-color;
			transition: 0.3s;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		}
		&:active {
			background-color: $sub-color;
			transition: 0.3s;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		}
	}
	&__img {
		margin-right: 8px;
		width: 28px;
	}
}
.headline {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 24px;
	color: $text-color;
	@media screen and (max-width: $phoneWidth) {
		align-items: flex-start;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: 0.38px;
		@media screen and (max-width: $smTableWidth) {
			font-size: 18px;
		}
	}
	&__subtitle {
		line-height: 1.6;
		letter-spacing: 0.4px;
		position: relative;
		@media screen and (max-width: $phoneWidth) {
			display: none;
		}
		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			right: 0;
			bottom: 3px;
			width: 100%;
			height: 8px;
			background-color: $active-light-color;
		}
	}
	&__phon {
		display: none;
		white-space: nowrap;
		@media screen and (max-width: $phoneWidth) {
			display: flex;
			line-height: 1.6;
			letter-spacing: 0.4px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				right: 0;
				bottom: 3px;
				width: 100%;
				height: 8px;
				background-color: $active-light-color;
			}
		}
	}
	&_line {
		border-bottom: 1px solid $line-color;
	}
}
.desc {
	display: flex;
	justify-content: flex-start;
	padding: 24px 0;
	border-top: 1px solid $line-color;
	position: relative;
	&__text {
		max-width: 765px;
		line-height: 1.6;
		letter-spacing: 0.4px;
		margin-right: 40px;
		&_listen {
			flex-basis: 60%;
			justify-content: flex-start;
			margin-right: 0px;
		}
		
	}
	&__checkbox {
		appearance: none;
		position: absolute;
		right: 16px;
    	top: 22px;
		width: 28px;
		height: 28px;
		background: url(/assets/img/star.svg) no-repeat;
		cursor: pointer;
		&:checked {
			background: url(/assets/img/star-copy-5.svg) no-repeat;
		}
		&_top {
			top: 38px;
		}

	}
	&_padd {
		padding: 40px 0;
	}
	&__list {
		width: 60px;
		min-width: 60px;
		display: flex;
		  justify-content: center;
		  vertical-align: top;
	}
	&__img {
		border-radius: 50%;
		width: 28px;
    	height: 28px;
		background-color: $active-color;
	}
	&__img-file {
		width: 28px;
    	height: 28px;
	}
	&__time {
		margin-right: 45px;
		margin-left: 40px;
	}
	&_mark {
		background-color: $phon-light-color;
	}
	&__sub {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		&_img {
			margin-right: 4px;
		}
	}
	&__link {
		text-decoration: none;
		color: $sub-color;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 340px;
		&:hover {
			color: $active-color;
		}
	}
	&_col {
		flex-direction: column;
	}
}
.video {
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	@media screen and (max-width: $smDesktopWidth) {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	@media screen and (max-width: $tableWidth) {
		padding: 15px 0;
	}
	&__img {
		&:hover {
			&:after {
			content: '';
			position: absolute;
			left: 40%;
			top: 48px;
			background: url(/assets/img/play2x.png) no-repeat;
			border-radius: 50%;
			width: 42px;
			height: 42px;
			background-color: $active-color;
			cursor: pointer;
			}
		}
		@media screen and (max-width: $tableWidth) {
			margin: 0 auto;
		}
	}
	&__item {
		max-width: 236px;
		border-radius: 6px;
		position: relative;
		@media screen and (max-width: $tableWidth) {
			margin: 0 auto;
		}
		&:hover {
			background-color: $phon-light-color;
		}
	}
	&__play {
		margin: 0 auto;
		padding: 8px 8px 0 8px;
		position: relative;
	}
	&__time {
		color: $phon-color;
		position: absolute;
		right: 16px;
		bottom: 8px;
		font-size: 15px;
		font-weight: 600;
		line-height: 1.6;
		letter-spacing: 0.4px;
	}
	&__text {
		line-height: 1.6;
		  letter-spacing: 0.4px;
		  padding: 25px 8px 7px;
	}
	&__checkbox {
		appearance: none;
		position: absolute;
		right: 16px;
		top: 16px;
		width: 28px;
		height: 28px;
		background: url(/assets/img/star-copy-4.svg) no-repeat;
		cursor: pointer;
		&:checked {
			background: url(/assets/img/star-copy-5.svg) no-repeat;
		}
	}
}
.footer {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.32px;
	color: $sub-color;
	margin: 0 0 16px;
	padding: 0 20px;
	@media screen and (max-width: $smTableWidth) {
		flex-direction: column;
		line-height: 1.5;
	}
	&__item {
		display: flex;
		@media screen and (max-width: $phoneWidth) {
			flex-direction: column;
			padding-bottom: 20px;
			
		}
	}
	&__info {
		padding: 0 10px 0 0;
		margin-right: 10px;
		border-right: 1px solid $sub-color;
		@media screen and (max-width: $phoneWidth) {
			border: none;
			padding-bottom: 20px;
		}
	}
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $text-color;
	z-index: 99999;
	display: none;
	pointer-events: none;
	text-align: center;
	&:target {
		display: block;
		pointer-events: auto;
	}
	&-content {
		width: 660px;
		position: relative;
		margin: 15% auto;
		@media(max-width: $tableWidth) {
			max-width: 100%;
		}
		&__video {
			width: 100%;
			@media(max-width: $tableWidth) {
				width: 100%;
			}
		}
	}
}