// Font
$mainFont: Montserrat, Helvetica, Arial, sans-serif;
// Size
$mainFontColor: #555555;
$mainFontSize: 15px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
// @media
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
// Main color
$phon-color:  #fff;
$phon-light-color: #f7f7f7;
$active-color:  #ffc501;
$active-light-color:  #fff3cc;
$text-color: #000;
$line-color:  #dddddd;
$sub-color: #999999;